@import './reset.css';
@import './dynamic.css';

body {
    font-family: 'Quicksand', sans-serif;
    background: #0d1b2a;
    color: #ffffff;
    min-height: 100vh;
    padding: 2rem 1.5rem;
}

.container {
    max-width: 800px;
    width: 100%;
    margin-bottom: 3rem;
    margin-inline: auto;
}

.box-container {
    background: #1b263b;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 2rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.seo-content :is(p, li) {
    color: #ddd;
}

.seo-content :is(ul, ol) {
    padding-inline-start: 24px;
}

.seo-content li {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.seo-content a {
    color: inherit;
    font-weight: bold;
}
p.description {
    text-align: left;

    color: #ccc;
}

.note {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #aaa;
}

.note h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.note p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
.note ul {
    margin-bottom: 0.5rem;
    padding-inline-start: 20px;
}
a.button-link {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    margin-block: 1rem;
    background: #c3aed6;
    color: #0d1b2a;
    border-radius: 9999px;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
}
a.button-link:hover {
    background: #ddbdfc;
}

button {
    margin-top: 1.25rem;
    padding: 0.5rem 1rem;
    background: #c3aed6;
    color: #0d1b2a;
    border: none;
    border-radius: 9999px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background: #ddbdfc;
}
